DATABASE_URL=
# Group 1
SHOPIFY_TOKEN_PREMIERPARFUMS=
SHOPIFY_TOKEN_PARFEMIJA=
SHOPIFY_TOKEN_PARFEM4U=
SHOPIFY_TOKEN_LUXILLAT=
SHOPIFY_TOKEN_SCENTELLAS=
SHOPIFY_TOKEN_SENZAROMI=
SHOPIFY_TOKEN_TVOJAPARFUM=
SHOPIFY_TOKEN_AROMACHIC=
SHOPIFY_TOKEN_FRAGRALUX=
SHOPIFY_TOKEN_PERFEMIO=
# Group 2
SHOPIFY_TOKEN_AROMIZO=
SHOPIFY_TOKEN_FRAGRACY=
SHOPIFY_TOKEN_LUXAROMI=
SHOPIFY_TOKEN_LUXCENTIO=
SHOPIFY_TOKEN_SCENTAORO=
SHOPIFY_TOKEN_SCENTILOS=
SHOPIFY_TOKEN_SCENTILUX=
SHOPIFY_TOKEN_SCENTIVIO=
